{
  "manifest_version": 3,
  "name": "OverDrive",
  "version": "1.6",
  "description": "Click the extension icon on an Overleaf page to sync the PDF to a Google Drive file.",
  "permissions": [
    "identity",
    "storage",
    "activeTab",
    "scripting"
  ],
  "host_permissions": [
    "https://*.overleaf.com/"
  ],
  "background": {
    "service_worker": "background.js"
  },
  "action": {
    "default_popup": "popup.html"
  },
  "oauth2": {
    "client_id": "CLIENT_TOKEN.apps.googleusercontent.com",
    "scopes": [
      "https://www.googleapis.com/auth/drive.file",
      "https://www.googleapis.com/auth/drive.appdata"
    ]
  }
}